html, body {
    margin: 0;
    padding: 0;
}

div.error_message{
   background-color: red;
     padding: 10px 10px;
    border-top: 0px solid #606060;
    border-bottom: 0px solid #606060;
    color: white;
}

header {
    background-color: #147871;
    padding: 15px 20px;
    border-top: 4px solid #606060;
    border-bottom: 4px solid #606060;
}

header h1 {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 15px;
}

footer {
   position:absolute;
   bottom:0;
   left:0;
   right:0;
   height:60px;
   background:#6cf;
}








