<%inherit file="app_base.htm" />

<%block name="content_top">

    ${ form }

<script>
    $(document).ready(function() {
    // disable type selector
    //$('#id_type').prop('disabled', true);
    if ($('#id_type').val() == 'BulkProduct') {
        $('#id_itemID').closest('p').hide();
        $('#id_maxRental').closest('p').hide();
        $('#id_retireDate').closest('p').hide();
    } else if ($('#id_type').val() == 'IndividualProduct') {
        $('#id_quantity').closest('p').hide();
        $('#id_reorder_trigger').closest('p').hide();
        $('#id_reorder_quantity').closest('p').hide();
        $('#id_maxRental').closest('p').hide();
        $('#id_retireDate').closest('p').hide();
    } else if ($('#id_type').val() == 'RentalProduct') {
        $('#id_quantity').closest('p').hide();
        $('#id_reorder_trigger').closest('p').hide();
        $('#id_reorder_quantity').closest('p').hide();
    }
});
</script>

</%block>


