
<%inherit file="app_base.htm" />

<%block name="content_top">
    <h1 class="text-center">
        % if selected is None:
            All Categories
        % else:
            ${selected.name}
        % endif
    </h1>
</%block>

<%block name="content_left">
   <div>
    <ul class='list-group'>
        <li><a class="list-group-item ${ 'active' if request.dmp.urlparams[0] == '' else ''}" href="/catalog/index/">All Products</a></li>
        %for category in clist:
            % if request.dmp.urlparams[0] == '${category.id}':
            <li><a class="list-group-item active" href="/catalog/index/${ category.id }">${ category.name }</a></li>
            % else:
            <li><a class="list-group-item" href="/catalog/index/${ category.id }">${ category.name }</a></li>
            % endif
        %endfor
    </ul>
   </div>
</%block>

<%block name="content">
    <div class="pagination">
         <div class="row text-right"><a id="getLastPage"><i class="fa fa-arrow-left"></i></a> <span id='currentPage'>1</span> of <span id='maxPages'>${maxPages}</span> <a id="getNextPage"><i class="fa fa-arrow-right"></i></a></div>
        <div class="wrapper">
        <ul id="products">

        </ul>
    </div>
    </div>
</%block>

