<%inherit file="app_base.htm" />

<title>About</title>
 <%block name="content">

<h1>
    About us
</h1>
<h2>
    Return policy
</h2>
<p>All items must be accompanied by a valid receipt

Return Period
<ol>
          <li>3 days for serialized product subject to a 10% restocking fee</li>
            <li>7 days for accessories</li>
    </ol>

Merchandise must be in like new condition and in complete original packaging

Non-Returnable Items
<ol>
          <li>Reeds (unless sealed in original box)</li>
         <li>Opened Software, DVDs and CDs</li>
    <li>Recorders, Tin Whistles, Jaw Harps, Nose Flutes, Harmonicas, In Ear</li>
    <li>Clearance Items, Red Tag Items, and Consignments Sales</li>
    <li>Gift Cards</li>
    <li>Repair Parts, Drum Heads or other items that have been installed</li>
    <li>Shipping</li>
    </ol>

Cancelled Special Orders and Layaway are subject to a 20% restocking fee

Refunds will be given in the form of original payment or store credit
<ol>
    <li>Cash refunds over $50.00 will be in the form of a company check mailed to                the customer's address</li>
    <li>Payments by check will be refunded in the form of a company check 14 days              after the original purchase mailed to the customer's home address</li>
</ol>
Warranties limited to those of the manufacturer

Gift purchases made from November 20th to December 24th will be accepted until January 6th

Summerhays Music Center of Orem reserves the right to deny the return of any item for any reason</p>

</%block>
