<%inherit file="app_base.htm" />

<title>FAQ</title>

<%block name="content">
<h1>Frequently Asked Questions</h1>
<p>
    <ul>
    <li>How do I find my Windows product key?</li>
    <li>HMy Windows 7 product key won't verify. What's the problem?</li>
    <li>HI bought Windows 7 through a website. After talking to the merchant, I was told I had a "system builder" product key. Why doesn't that work?</li>
    <li>HI purchased my copy of Windows through a university. Can I download it here?</li>
    <li>HI'm running a Mac and get an error message when I click Download Tool Now. What's wrong?</li>
    <li>HWindows came pre-installed on my device, can I use media from this site to download and install?</li>
</ul>
</p>
</%block>
