<%inherit file="app_base.htm" />

<%block name="content_top">
<div class="row text-center">
    <div class="col-md-6">
        <img src="${STATIC_URL}homepage/media/images/721582_1.jpg" alt="Cat playing sax">
    </div>
    <div class="col-md-6">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="/account/signup/" class="btn btn-primary">Sign up now</a>
    </div>
</div>
</%block>

<%block name="content">
 <h1>Welcome to FOMO!</h1>
<h2>Here you can get everything you need to do stuff with music</h2>
</%block>


<%block name="content_footer">
</%block>

